/* BlogSliderSection.css */
.custom-dot {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  margin: 0 5px;
  cursor: pointer;
}

.custom-dot:hover, .custom-dot.slick-active {
  background: #000;
}

/* BlogSliderSection.css */
.slider-container .slider-slide {
  padding: 0 10px; /* Adjust the padding to create the desired gap */
}

.slick-slide {
  outline: none; /* Removes the outline on slide focus */
}
